<div class="comments">
  <p>コメント件数：<%= dream.comments.count %></p>
  <!--コメント表示-->
  <% dream.comments.each do |comment| %>
    <div id="delete_<%= comment.id %>", class="border">
      <%= comment.user.name %>&emsp;
      <%= comment.created_at.strftime('%Y/%m/%d') %>&emsp;
      <%= comment.comment %>
      <!--コメントしたユーザーなら削除リンクの表示-->
      <% if comment.user == current_user %>
      <div class="comment-delete">
        <%= link_to "削除", dream_comment_path(comment.dream, comment), method: :delete, remote: true %>
      </div>
    </div>
    <% end %>
  <% end %>

</div>