<div class="container">

  <div class="row">
    <div class="col-10">
      <h2>投稿一覧</h2>
      <table class="table">
        <thead>
          <tr>
            <th></th>
            <th>ニックネーム</th>
            <th>投稿した日</th>
            <th>夢を見た日</th>
            <th>夢で感じた感情</th>
          </tr>
        </thead>
        <tbody>
        <% @dreams.each do |dream| %>
          <tr>
            <td>
              <%#= attachment_image_tag dream.user, :profile_image, format: 'jpeg', size: "30x30", fallback: "no_image.jpg" %>
            </td>
            <td><%= dream.user.name %></td>
            <td><%= dream.created_at %></td>
            <td><%= dream.day %></td>
            <td><%= dream.emotion %></td>
          </tr>
          <tr>
            <td><%= dream.title %></td>
          </tr>
          <tr>
            <td><%= dream.body %></td>
            <td>コメント◯件</td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>

</div>