<div class="container">

  <!--検索フォーム-->
  <div class="row">
    <div class="col-2.5"><label>夢のタイトルで検索できます</label></div>
    <div class="col-4">
      <%= form_with url: search_dreams_path, method: :get, local: true do |f| %>
        <%= f.text_field :title %>
        <%= f.submit "検索" %>
      <% end %>
    </div>
  </div>

  <div class="row align-items-center">
    <div class="col-3 text-center">
      <h2><i class="fas fa-bed"></i>&nbsp;みんなの夢</h2>
    </div>
    <% if user_signed_in? %>
    <div class="col-2">
      <%= link_to "夢の新しい投稿", new_dream_path, class: "btn btn-lg btn-primary" %>
    </div>
    <% end %>
  </div>

  <!--投稿の一覧-->
  <% @dreams.each do |dream| %>
  <div class="container border">
    <div class="row border-bottom align-items-center">
      <div class="col-2">
        <% if dream.user.image.to_s.present? %>
          <%= image_tag dream.user.image.thumb.to_s, size: "50x50" %>
        <% else %>
          <%= image_tag "no_image", size: "50x50" %>
        <% end %>
      <!--ログイン済みなら名前からユーザーページへ-->
      <% if user_signed_in? %>
        <%= link_to user_path(dream.user.id) do %>
          <%= dream.user.name %>
        <% end %>
      <% else %>
      <!--未ログインならリンクは表示しない-->
        <%= dream.user.name %>
      <% end %>
      </div>
      <div class="col-4">
        夢名「&nbsp;
        <!--投稿の詳細へ-->
        <%= link_to dream_path(dream.id) do %>
          <%= dream.title %>
        <% end %>&nbsp;」
      </div>
      <div class="col-2">
        <i class="fas fa-hand-holding-heart"></i> <%= dream.emotion %>
      </div>
      <div class="col-3 text-center"><i class="fas fa-user-clock"></i> <%= dream.start_time.strftime("%Y年%m月%d日") %></div>
    </div>
    <div class="row dream-contents">
      <div class="col-10">
        &nbsp;夢の内容<br />
        <!--内容の表示を100文字までに設定-->
        「&nbsp;<%= dream.body.truncate(100) %>&nbsp;」
      </div>
    </div>

    <div class="row dream-contents">
      <!--ログイン済みならいいねできる-->
      <% if user_signed_in? %>
      <div class="col-1 dream_<%= dream.id %>"><%= render 'dreams/favorites', dream: dream %></div>
      <% else %>
      <!--未ログインならいいね数だけ表示-->
      <div class="col-1">
        <i class="far fa-heart"></i> <%= dream.favorites.count %>
      </div>
      <% end %>
      <div class="col-1"><i class="far fa-comment-alt"></i>
      <!--ログイン済みなら投稿の詳細へ-->
      <% if user_signed_in? %>
        <%= link_to "#{dream.comments.count}", dream_path(dream.id) %>
      <% else %>
        <!--未ログインならコメント件数のみ表示-->
        <%= dream.comments.count %>
      <% end %>
      </div>
    </div>

  </div>
  <% end %>

  <div class="row text-center">
    <%= paginate @dreams %>
  </div>

</div>
