<div class="container">

  <div class="row">
    <div class="col-10">
      <h2>投稿一覧</h2>
      <table class="table">
        <thead>
          <tr>
            <th>ニックネーム</th>
            <th>投稿した日</th>
            <th>夢を見た日</th>
            <th>夢で感じた感情</th>
          </tr>
        </thead>
        <tbody>
        <% @dreams.each do |dream| %>
          <tr>
            <td>
              <% if user_signed_in? %>
                <%= link_to user_path(dream.user.id) do %>
                  <%= dream.user.name %>
                <% end %>
              <% else %>
                <%= dream.user.name %>
              <% end %>
            </td>
            <td><%= dream.created_at %></td>
            <td><%= dream.start_time %></td>
            <td><%= dream.emotion %></td>
          </tr>
          <tr>
            <td>
              <% if user_signed_in? %>
                <%= link_to dream_path(dream.id) do %>
                  <%= dream.title %>
                <% end %>
              <% else %>
                <%= dream.title %>
              <% end %>
            </td>
            <% if user_signed_in? %>
            <td class="dream_<%= dream.id %>">
              <%= render 'dreams/favorites', dream: dream %>
            </td>
            <% end %>
          </tr>
          <tr>
            <td><%= dream.body.truncate(100) %></td>
            <td><%= link_to "#{dream.comments.count} コメント", dream_path(dream.id) %></td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>

</div>