<div class="container">

  <div class="row">
    <div class="col-2">
      <h2>夢の投稿</h2>
    </div>
  </div>

  <!--新規投稿フォーム-->
  <div class="row">
  <%= form_with model: @dream, url: dream_path(dream.id), local:true do |f| %>
    <h4>この夢をみた日</h4>
    <%= f.date_select :day %>
    <h4>その夢で感じた感情</h4>
    <%= f.select :emotion %>
    <h4>夢のタイトル</h4>
    <%= f.text_field :title %>
    <h4>夢の内容</h4>
    <%= f.text_area :body %>
    <%= f.submit "投稿" %>
  <% end %>
  </div>

</div>