 <div class="container">

  <!--夢の詳細情報-->
  <div class="row">
    <div class="col-2">ニックネーム<br />
      <i class="fas fa-user-edit"></i> <%= @user.name %>
    </div>
    <div class="col-3">この夢を見た日<br />
      <i class="fas fa-user-clock"></i> <%= @dream.start_time.strftime("%Y年%m月%d日") %>
    </div>
    <div class="col-3">投稿日<br />
      <%= @dream.created_at.strftime("%Y年%m月%d日") %>
    </div>
    <div class="col-2">
      <i class="far fa-heart"></i> <%= @dream.favorites.count %> いいね
    </div>
    <div class="col-2">
      <i class="far fa-comment-alt"></i> <%= @dream.comments.count %> コメント
    </div>
  </div>

  <div class="row">
    <div class="col-4">夢 名<br />
      「 <%= @dream.title %> 」
    </div>
    <div class="col-2">感じた感情<br />
      <i class="fas fa-hand-holding-heart"></i> <%= @dream.emotion %>
    </div>
  </div>
  
  <div class="row">
    <div class="col-10"> 夢の内容<br />
      「 <%= @dream.body %> 」
    </div>
  </div>
  
  <div class="row">
    <div class="col-10">
      <!--コメント入力フォーム-->
      <%= render 'dreams/comment', dream: @dream, comment: @comment %>
      <%= form_with model:[@dream, @comment] do |f| %>
        <%= f.text_area :comment, rows: '5', placeholder: "コメントをここに" %>
        <%= f.submit "送信する" %>
      <% end %>
    </div>
  </div>

</div>