 <div class="container">

  <!--夢の詳細情報-->
  <div class="row">
    <div class="col-10">
      <h2>夢の詳細</h2>
      <table class="table">
        <thead>
          <tr>
            <th></th>
            <th>ニックネーム</th>
            <th>投稿した日</th>
            <th>夢を見た日</th>
            <th>夢で感じた感情</th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <%#= attachment_image_tag book.user, :profile_image, format: 'jpeg', size: "30x30", fallback: "no_image.jpg" %>
            </td>
            <td><%= @user.username %></td>
            <td><%= @dream.created_at %></td>
            <td><%= @dream.day %></td>
            <td><%= @dream.emotion %></td>
            <td>❤◯件</td>
            <td>コメント◯件</td>
          </tr>
          <tr>
            <td><%= @dream.title %></td>
            <td><%= @dream.body %></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <!--コメント入力フォーム-->
  <div class="row">
    <div class="col-3">
      <p>コメント入力スペース</p>
    </div>
    <div class="col-1">
      <p>送信ボタン</p>
    </div>
  </div>

  <!--コメント全て表示-->
  <div class="row">
    <div class="col-1">
      <p>プロフィール写真</p>
    </div>
    <div class="cl-1">
      <p>名前</p>
    </div>
    <div class="col-1">
      <p>コメントした日</p>
    </div>
    <div class="col-1">
      <p>コメント本文</p>
    </div>
  </div>

  <div class="row">
    <div class="col-1">
      <p>プロフィール写真</p>
    </div>
    <div class="cl-1">
      <p>名前</p>
    </div>
    <div class="col-1">
      <p>コメントした日</p>
    </div>
    <div class="col-1">
      <p>コメント本文</p>
    </div>
  </div>

</div>