<div class="container">

  <!--投稿のタイトル-->
  <div class="row align-items-center">
    <div class="col-4 text-center">
      <h2>夢&nbsp;名&nbsp;「&nbsp;<%= @dream.title %>&nbsp;」</h2>
    </div>
    <!--投稿者なら編集ページへのボタンを表示-->
    <% if @user == current_user %>
    <div class="col-2">
      <%= link_to "編集する", edit_dream_path(@dream), class: "btn btn-lg btn-success" %>
    </div>
    <% end %>
  </div>

  <!--投稿の詳細情報-->
  <div class="container border">

    <div class="row border-bottom text-center align-items-center">
      <div class="col-2">
        <!--プロフィール画像があれば表示-->
        <% if @dream.user.image.to_s.present? %>
          <%= image_tag @dream.user.image.thumb.to_s, size: "50x50" %>
        <% else %>
          <!--プロフィール画像が無い人に表示させる画像-->
          <%= image_tag "no_image.jpg", size: "50x50" %>
        <% end %>
      </div>
      <div class="col-2">
        <i class="fas fa-user-tag"></i>ニックネーム<br />
        <!--投稿者ページへのリンク-->
        <%= link_to user_path(@user.id) do %>
          <%= @user.name %>
        <% end %>
      </div>
      <div class="col-2">
        <i class="fas fa-hand-holding-heart"></i>&nbsp;感情<br />
        <%= @dream.emotion %>
      </div>
      <div class="col-3">
        <i class="fas fa-user-clock"></i>&nbsp;夢を見た日<br />
        <%= @dream.start_time.strftime("%Y年%m月%d日") %>
      </div>
      <div class="col-3">
        <i class="fas fa-paper-plane"></i>&nbsp;投稿日<br />
        <%= @dream.created_at.strftime("%Y年%m月%d日") %>
      </div>
    </div>

    <div class="row dream-contents">
      <div class="col-10">&nbsp;夢の内容<br />
        「&nbsp;<%= @dream.body %>&nbsp;」
      </div>
    </div>

  </div>


  <!--いいね表示-->
  <div class="row align-items-center text-center">
    <div class="col-1 dream_<%= @dream.id %>">
      <div class="favorites">
        <%= render 'dreams/favorites', dream: @dream %>&nbsp;
      </div>
    </div>
  </div>

  <!--コメント件数表示-->
  <div class="row show-bottom">
    <div class="col-4 show-contents">
      <%= render 'dreams/comment', dream: @dream, comment: @comment %>
    </div>
    <!--コメント入力フォーム-->
    <div class="col-3">
      <%= form_with model:[@dream, @comment] do |f| %>
        <%= f.text_area :comment, rows: '5', placeholder: "コメントをここに", :size => "30*100" %>
        <%= f.submit "送信する" %>
      <% end %>
    </div>
  </div>

</div>