 <div class="container">

  <!--夢の詳細情報-->
  <div class="row">
    <div class="col-10">
      <h2>夢の詳細</h2>
      <table class="table">
        <thead>
          <tr>
            <th>ニックネーム</th>
            <th>投稿した日</th>
            <th>夢を見た日</th>
            <th>夢で感じた感情</th>
            <th></th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><%= @user.name %></td>
            <td><%= @dream.created_at %></td>
            <td><%= @dream.day %></td>
            <td><%= @dream.emotion %></td>
            <td>
              <%= render 'dreams/favorites', dream: @dream %>
            </td>
            <td><%= link_to "編集", edit_dream_path, class: "btn btn-sm btn-success" %></td>
            <td><%= link_to "削除", dream_path(@dream), method: :delete, class: "btn btn-sm btn-danger" %></td>
          </tr>
          <tr>
            <td><%= @dream.title %></td>
            <td><%= @dream.body %></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <!--コメント入力フォーム-->
  <div class="row">
    <div class="col-10">
      <div class="comments">
        <p>コメント件数：<%= @dream.comments.count %></p>
        <% @dream.comments.each do |comment| %>
          <%= comment.user.name %>
          <%= comment.created_at.strftime('%Y/%m/%d') %><%= comment.comment %>
          <% if comment.user == current_user %>
          <div class="comment-delete">
            <%= link_to "削除", dream_comment_path(comment.dream, comment), method: :derete %>
          </div>
          <% end %>
        <% end %>
      </div>
      <div class="new-comment">
        <%= form_with(model:[@dream, @comment], local: true) do |f| %>
          <%= f.text_area :comment, rows:'5', placeholder: "コメントをここに" %>
          <%= f.submit "送信する" %>
        <% end %>
      </div>
    </div>
  </div>

  <!--コメント全て表示-->
  <div class="row">
    <div class="col-1">
      <p>プロフィール写真</p>
    </div>
    <div class="cl-1">
      <p>名前</p>
    </div>
    <div class="col-1">
      <p>コメントした日</p>
    </div>
    <div class="col-1">
      <p>コメント本文</p>
    </div>
  </div>

  <div class="row">
    <div class="col-1">
      <p>プロフィール写真</p>
    </div>
    <div class="cl-1">
      <p>名前</p>
    </div>
    <div class="col-1">
      <p>コメントした日</p>
    </div>
    <div class="col-1">
      <p>コメント本文</p>
    </div>
  </div>

</div>