<div class="container">

  <div class="row align-items-center">
    <div class="col-4">
      <h3><%= @user.name %>の夢日記</h3>
    </div>
<<<<<<< HEAD
    <% if user_signed_in? %>
    <div class="col-2">
      <%= link_to "夢の新しい投稿", new_dream_path, class: "btn btn-primary" %>
    </div>
    <% end %>
    <!--ユーザーが投稿者なら編集ボタンを表示-->
    <% if @user == current_user %>
    <div class="col-2">
=======
  </div>

  <div class="row">
    <!--ユーザーが投稿者なら編集ボタンを表示-->
    <% if @user == current_user %>
    <div class="col-4">
>>>>>>> 436d1daed0440b4385926864b713ded1b3a9c1eb
      <%= link_to '登録内容編集', edit_user_registration_path, method: :get, class: "btn btn-sm btn-success" %>
    </div>
    <% end %>
  </div>

  <!--シンプルカレンダー-->
  <%= month_calendar events: @dreams do |date, dreams| %>
    <%= date.day %>
    <!--投稿とその日付を紐付けて表示-->
    <% dreams.each do |dream| %>
      <div>
        「 <%= link_to dream.title, dream %> 」
      </div>
    <% end %>
  <% end %>

</div>