<span class="navbar-text">ようこそ、<%= current_user.name %>さん</span>
<form class="form-inline">
  <li class="nav-item"><%= link_to "HOME", dreams_top_path %></li>
  <li class="nav-item"><%= link_to "マイページ", user_path(current_user.id) %></li>
  <li class="nav-item"><%= link_to "みんなの夢一覧", dreams_path %></li>
  <li class="nav-item"><%= link_to "ログアウト", destroy_user_session_path, method: :delete %></li>
</form>