<!--ログイン済みユーザーのヘッダー-->
<span class="navbar-text">ようこそ、<%= current_user.name %>さん</span>
<form class="form-inline">
  <!--ホームページへのリンク-->
  <li class="nav-item"><%= link_to "HOME", dreams_top_path %></li>
  <!--新規投稿へのリンク-->
  <li class="nav-item"><%= link_to "夢ポスト", new_dream_path %></li>
  <!--マイページへのリンク-->
  <li class="nav-item"><%= link_to "マイページ", user_path(current_user.id) %></li>
  <!--投稿一覧へのリンク-->
  <li class="nav-item"><%= link_to "みんなの夢一覧", dreams_path %></li>
  <!--ログアウトするリンク-->
  <li class="nav-item"><%= link_to "ログアウト", destroy_user_session_path, method: :delete %></li>
</form>