<!DOCTYPE html>
<html>
  <head>
    <title>DreamSharing</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <nav class="navbar navbar-dark">
      <div class="container">
        <a class="navbar-brand" href="#">Dream sharing</a>
        <ul class="navbar-nav">
        <% if signed_in? %>
          <%= render 'layouts/logind_header' %>
        <% else %>
          <%= render 'layouts/notlogind_header' %>
        <% end %>
        </ul>
      </div>
    </nav>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <%= yield %>

    <footer>
      <div class="container mt-5">
        <div class="row">
          <div class="mx-auto">
            <p>© 2021 zunema Inc. ALL Rights Reserved.</p>
          </div>
        </div>
      </div>
    </footer>

  </body>
</html>
