<div class="container">

  <div class="row user-new">
    <div class="col-3 mx-auto text-center">
      <h2>新規会員登録</h2>
    </div>
  </div>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <!--新規登録失敗時のエラー表示-->
  <%= render "users/shared/error_messages", resource: resource %>

    <div class="row">
      <div class="col-2 mx-auto text-center">
        <div class="field">
          <h6>ニックネーム</h6>
          <%= f.text_field :name, autofocus: true, autocomplete: "name" %>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-2 mx-auto text-center">
        <div class="field">
          <h6>メールアドレス</h6>
          <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-2 mx-auto text-center">
        <div class="field">
          <h6>パスワード</h6>
          <%= f.password_field :password, autocomplete: "new-password" %>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-2 mx-auto text-center">
        <div class="field">
          <h6>確認用パスワード</h6>
          <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-2 mx-auto text-center">
        <div class="actions">
          <%= f.submit "新規会員登録" %>
        </div>
      </div>
    </div>

    <% end %>

    <div class="row user-new-bottom">
      <div class="col-2 mx-auto text-center">
        <label><%= render "users/shared/links" %></label>
      </div>
    </div>

</div>